<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title},
            additionalCss=~{:: link},
            additionalJs=~{:: script}
        )}">
    <title>Panneau d'administration</title>
    <link rel="stylesheet" href="/css/admin.css">
    <script language="JavaScript" src="/js/admin.js"></script>
    <main class="main-content">
        <div class="container mb-4 main-container">
            <div class="row">
                <div class="col-lg-4 pb-5">
                    <!-- Account Sidebar-->
                    <div class="author-card pb-3">
                        <div class="author-card-profile">
                            <div class="author-card-avatar"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Daniel Adams">
                            </div>
                            <div class="author-card-details">
                                <h5 class="author-card-name text-lg" th:text="${memberSession.pseudo}"></h5><span class="author-card-position" th:text="${memberSession.firstName} + ' ' +${memberSession.lastName}"></span>
                            </div>
                        </div>
                    </div>
<!--                    <div class="wizard">-->
<!--                        <nav class="list-group list-group-flush">-->
<!--                            <a class="list-group-item active" href="#">-->
<!--                                <div class="d-flex justify-content-between align-items-center">-->
<!--                                    <div><i class="fa fa-shopping-bag mr-1 text-muted"></i>-->
<!--                                        <div class="d-inline-block font-weight-medium text-uppercase">Orders List</div>-->
<!--                                    </div><span class="badge badge-secondary">6</span>-->
<!--                                </div>-->
<!--                            </a><a class="list-group-item" href="https://www.bootdey.com/snippets/view/bs4-profile-settings-page" target="__blank"><i class="fa fa-user text-muted"></i>Profile Settings</a><a class="list-group-item" href="#"><i class="fa fa-map-marker text-muted"></i>Addresses</a>-->
<!--                            <a class="list-group-item" href="https://www.bootdey.com/snippets/view/bs4-wishlist-profile-page" tagert="__blank">-->
<!--                                <div class="d-flex justify-content-between align-items-center">-->
<!--                                    <div><i class="fa fa-heart mr-1 text-muted"></i>-->
<!--                                        <div class="d-inline-block font-weight-medium text-uppercase">My Wishlist</div>-->
<!--                                    </div><span class="badge badge-secondary">3</span>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                            <a class="list-group-item" href="#">-->
<!--                                <div class="d-flex justify-content-between align-items-center">-->
<!--                                    <div><i class="fa fa-tag mr-1 text-muted"></i>-->
<!--                                        <div class="d-inline-block font-weight-medium text-uppercase">My Tickets</div>-->
<!--                                    </div><span class="badge badge-secondary">4</span>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </nav>-->
<!--                    </div>-->
                </div>
                <!-- Orders Table-->
                <div class="col-lg-8 pb-5">
                    <div class="d-flex justify-content-end pb-3">
                        <div class="form-inline">
                            <label class="text-muted mr-3" for="order-sort">Trier compte</label>
                            <select class="form-control" id="order-sort" onchange="filterData()">
                                <option value="all">All</option>
                                <option value="actif"> Actif</option>
                                <option value="disabled"> Desactivé</option>
                                <option value="deleted">  Supprimé</option>
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="user-table" class="table table-hover mb-0 admin">
                            <thead>
                            <tr>
                                <th>Compte ID</th>
                                <th>Pseudo</th>
                                <th>Nom/prenom</th>
                                <th>Redirection</th>
                                <th>Suppression</th>
                                <th>Desactivation</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.getIdUser}"></td>
                                    <td th:text="${user.getPseudo()}"></td>
                                    <td th:text="${user.getLastName()} + ' ' + ${user.getFirstName()}       "></td>
                                    <td>
                                        <a th:href="@{/profil/{id}(id=${user.getIdUser()})}" class="btn btn-primary">
                                            <button type="button" class="btn btn-primary">Voir profil</button>
                                        </a>
                                    </td>
                                    <td>
                                        <a th:href="@{/admin/delete(user_id=${user.getIdUser()})}" class="btn btn-primary" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')">
                                            <button type="button" class="btn btn-danger">Suppression</button>
                                        </a>
                                    </td>
                                    <td th:if="${!user.isDisabled}">
                                        <a th:href="@{/admin/disable(user_id=${user.getIdUser()})}" class="btn btn-primary" onclick="return confirm('Êtes-vous sûr de vouloir désactiver cet utilisateur ?')">
                                            <button type="button" class="btn danger">Désactivation</button>
                                        </a>
                                    </td>
                                    <td th:unless="${!user.isDisabled}">
                                        <a th:href="@{/admin/enable(user_id=${user.getIdUser()})}" class="btn btn-primary" onclick="return confirm('Êtes-vous sûr de vouloir réactiver cet utilisateur ?')">
                                            <button  type="button" class="btn btn-primary">Réactivation</button>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</html>