<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title},
            additionalCss=~{},
            additionalJs=~{}
        )}"
>
<!--<script src="/js/form-article.js"></script>-->
<head>
    <title>Détails de l'article</title>
</head>
<body>
<main class="main-content">
    <div th:with="action='detail'">
        <div th:replace="fragments/fragment-form-article :: frag-form-article(${article}, ${action}, ${errors})"></div>
    </div>
</main>
</body>
</html>
<script>
        function validateBid(input) {
            var submitBtn = document.getElementById('submitBtn');
            var minValue = parseInt(input.min);
            var maxValue = parseInt(input.max);
            var bidValue = parseInt(input.value);

            console.log(minValue, maxValue, bidValue)

            if (bidValue < minValue || bidValue > maxValue) {
                submitBtn.disabled = true;
            } else {
                submitBtn.disabled = false;
            }
        }

        window.onload = function() {
            validateBid(document.querySelector('input[name=bidAmount]'));
        };
</script>