<div
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="frag-form-user(action,vue)"
>
<div class="my-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div th:if="${#strings.isEmpty(vue)}" class="card-header">
                            <h2>Modifier Mon profil</h2>
                        </div>
                        <div th:unless="${#strings.isEmpty(vue)}" class="card-header">
                            <h2>S'inscrire</h2>
                        </div>
                        <div class="card-body">
                            <form name="form_profil" id="form_profil" th:action="${action}" method="POST" th:object="${user}">
                                <div class="alert alert-danger errors" role="alert">
                                    <div th:replace="~{fragments/fragment-errors :: frag-errors}"></div>
                                </div>
                                <div class="alert alert-secondary error_list" role="alert">
                                    <p class="error-input" th:each="error : ${#fields.errors('global')}" th:text="${error}"></p>
                                </div>
                                <div th:if="${#strings.isEmpty(vue)}">
                                    <input name="user_id"  type="hidden" th:value="${memberSession.idUser}">
                                </div>
                                <div class="form-group row">
                                    <label for="pseudo" class="col-md-4 col-form-label text-md-right">Pseudo</label>
                                    <div class="col-md-6">
                                        <input type="text" id="pseudo" class="form-control" name="username" placeholder="pseudo" th:field="*{pseudo}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="last_name" class="col-md-4 col-form-label text-md-right">Nom</label>
                                    <div class="col-md-6">
                                        <input type="text" id="last_name" class="form-control" name="last_name" placeholder="Nom" th:field="*{lastName}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="first_name" class="col-md-4 col-form-label text-md-right">Prenom</label>
                                    <div class="col-md-6">
                                        <input type="text" id="first_name" class="form-control" name="first_name" placeholder="Prénom" th:field="*{firstName}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>
                                    <div class="col-md-6">
                                        <input type="email" id="email" class="form-control" name="email" placeholder="Email" th:field="*{email}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="phone_number" class="col-md-4 col-form-label text-md-right">Téléphone</label>
                                    <div class="col-md-6">
                                        <input type="text" id="phone_number" class="form-control" name="phone_number" placeholder="numéro de télephone" th:field="*{phoneNumber}">
                                    </div>
                                </div>
                                <div  class="form-group row">
                                    <label for="street" class="col-md-4 col-form-label text-md-right">Rue</label>
                                    <div class="col-md-6">
                                        <input type="text" id="street" class="form-control" name="street" placeholder="Rue" th:field="*{street}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="postal_code" class="col-md-4 col-form-label text-md-right">Code postal</label>
                                    <div class="col-md-6">
                                        <input type="text" id="postal_code" class="form-control" name="postal_code" placeholder="Code postal" th:field="*{zipCode}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="city" class="col-md-4 col-form-label text-md-right">Ville</label>
                                    <div class="col-md-6">
                                        <input type="text" id="city" class="form-control" name="city" placeholder="Ville" th:field="*{city}">
                                    </div>
                                </div>
                                <div class="password">
                                    <div th:if="${#strings.isEmpty(vue)}">
                                        <div class="form-group row">
                                            <label for="current_password" class="col-md-4 col-form-label text-md-right">Mot de passe actuel</label>
                                            <div class="col-md-6">
                                                <input type="password" id="current_password" class="form-control" name="current_password" th:field="*{password}" >
                                            </div>
                                        </div>
                                        <div  class="form-group row">
                                            <label for="new_password" class="col-md-4 col-form-label text-md-right">Nouveau de mot de passe</label>
                                            <div class="col-md-6">
                                                <input type="password" id="new_password" class="form-control" name="new_password" >
                                            </div>
                                        </div>
                                        <div  class="form-group row">
                                            <label for="password" class="col-md-4 col-form-label text-md-right">Confirmation</label>
                                            <div class="col-md-6">
                                                <input type="password" id="confirm_password" class="form-control" name="confirm_password" >
                                            </div>
                                        </div>
                                    </div>
                                    <div th:unless="${#strings.isEmpty(vue)}">
                                        <div  class="form-group row">
                                            <label for="new_password" class="col-md-4 col-form-label text-md-right">Mot de passe</label>
                                            <div class="col-md-6">
                                                <input type="password" id="password" class="form-control" name="password" th:field="*{password}" >
                                            </div>
                                        </div>
                                        <div  class="form-group row">
                                            <label for="password" class="col-md-4 col-form-label text-md-right">Confirmation</label>
                                            <div class="col-md-6">
                                                <input type="password" id="confirm_password" class="form-control" name="confirm_password" >
                                            </div>
                                        </div>
                                    </div>
                                <div th:if="${#strings.isEmpty(vue)}" class="col-md-6 offset-md-4">
                                    <div class="flex">
                                        <button type="submit" name="modify_btn" id="modify_btn" class="btn btn-primary btn-form">
                                            Enregistrer
                                        </button>
                                        <button type ="button" name="delete_btn" id="delete_btn" class="btn btn-primary btn-form ">
                                            Supprimer Compte
                                        </button>
                                    </div>
                                </div>
                                <div th:unless="${#strings.isEmpty(vue)}" class="col-md-6 offset-md-4">
                                    <button type="submit" name="submit_form" id="submit_form" class="btn btn-primary btn-form">
                                        S'incrire
                                    </button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>