<div
        xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
        th:fragment="fragment-profil(mode)">

        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                        <div th:if="${#strings.isEmpty(mode)}">
                            <span class="font-weight-bold" th:text="${memberSession.pseudo}"></span></br>
                            <span class="text-white-50" th:text="${memberSession.email}"></span>
                        </div>
                        <div th:unless="${#strings.isEmpty(mode)}">
                            <span class="font-weight-bold" th:text="${user.pseudo}"></span></br>
                            <span class="text-white-50" th:text="${user.email}"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right" th:text="#{frag-profil.information}"></h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels" th:text="#{frag-form-user.pseudo}"></label>
                                <div th:if="${#strings.isEmpty(mode)}">
                                    <input type="text" class="form-control" th:value="${memberSession.pseudo}" disabled>
                                </div>
                                <div th:unless="${#strings.isEmpty(mode)}">
                                    <input type="text" class="form-control" th:value="${user.pseudo}" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="labels" th:text="#{frag-form-user.lastName}"></label>
                                <div th:if="${#strings.isEmpty(mode)}">
                                    <input type="text" class="form-control" th:value="${memberSession.lastName}" disabled>
                                </div>
                                <div th:unless="${#strings.isEmpty(mode)}">
                                    <input type="text" class="form-control" th:value="${user.lastName}" disabled>
                            </div>
                            <div class="col-md-6">
                                <label class="labels" th:text="#{frag-form-user.firstName}"></label>
                                <div th:if="${#strings.isEmpty(mode)}">
                                    <input type="text" class="form-control" th:value="${memberSession.firstName}"disabled >
                                </div>
                                <div th:unless="${#strings.isEmpty(mode)}">
                                    <input type="text" class="form-control" th:value="${user.firstName}"disabled >
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels" th:text="#{frag-form-user.email}"></label>
                                <div th:if="${#strings.isEmpty(mode)}">
                                    <input type="text" class="form-control" th:value="${memberSession.email}" disabled>
                                </div>
                                <div th:unless="${#strings.isEmpty(mode)}">
                                    <input type="text" class="form-control" th:value="${user.email}" disabled>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="labels" th:text="#{frag-form-user.phoneNumber}"></label>
                                <div th:if="${#strings.isEmpty(mode)}">
                                    <input type="text" class="form-control" th:value="${memberSession.phoneNumber}" disabled>
                                </div>
                                <div th:unless="${#strings.isEmpty(mode)}">
                                    <input type="text" class="form-control" th:value="${user.phoneNumber}" disabled>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="labels" th:text="#{frag-form-user.streetName}"></label>
                                <div th:if="${#strings.isEmpty(mode)}">
                                    <input type="text" class="form-control" th:value="${memberSession.street}" disabled>
                                </div>
                                <div th:unless="${#strings.isEmpty(mode)}">
                                    <input type="text" class="form-control" th:value="${user.street}" disabled>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="labels" th:text="#{frag-form-user.postalCode}"></label>
                                <div th:if="${#strings.isEmpty(mode)}">
                                    <input type="text" class="form-control" th:value="${memberSession.zipCode}" disabled>
                                </div>
                                <div th:unless="${#strings.isEmpty(mode)}">
                                    <input type="text" class="form-control" th:value="${user.zipCode}" disabled>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="labels" th:text="#{frag-form-user.city}"></label>
                                <div th:if="${#strings.isEmpty(mode)}">
                                    <input type="text" class="form-control" th:value="${memberSession.city}"disabled>
                                </div>
                                <div th:unless="${#strings.isEmpty(mode)}">
                                    <input type="text" class="form-control" th:value="${user.city}"disabled>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <div th:if="${memberSession != null and user != null and ((#authorization.expression('hasRole(''ADMIN'')') and user.idUser != memberSession.idUser) or memberSession == null)}">
                                <input id="user_id" type="hidden" th:value="${user.idUser}">
                                <button id="btn-delete-admin" class="btn btn-danger profile-button btn-form" type="button">Supprimer</button>
                                <div th:if="${user.disabled}">
                                    <button id="enable-btn" class="btn btn-primary profile-button btn-form" type="button" th:href="@{/}">Activer</button>
                                </div>
                                <div th:unless="${user.disabled}">
                                    <button id="disabled-btn" class="btn btn-primary profile-button btn-form" type="button" th:href="@{/}">Desactiver</button>
                                </div>
                            </div>
                            <div th:if="${#strings.isEmpty(mode)}">
                                <a th:href="@{/profil/details}">
                                    <button class="btn btn-primary profile-button btn-form" type="button" th:text="#{frag-profil.modify}"></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>