<!DOCTYPE html>

<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layouts/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title},
            additionalCss=~{:: link},
            additionalJs=~{:: script}
        )}"
>
    <title>Inscription</title>
    <link rel="stylesheet" href="/css/details.css">
    <script src="/js/form-register.js"></script>
    <main class="main-content">
        <div th:replace="~{fragments/fragment-form-user :: frag-form-user('/register','create')}"></div>
    </main>


</html>