<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title},
            additionalCss=~{},
            additionalJs=~{}
        )}">
<head>
    <title th:text="Accueil">Home</title>
    <script src="/js/Filter_home.js"></script>
</head>
<body>
<main class="main-content">
    <div class="container">
        <h1 class="text-center">Liste des enchères</h1>

        <form action="/" method="GET">
            <div class="row my-3">
                <div class="col-md-6">
                    <input type="text" class="form-control" name="searchInput" placeholder="Recherche...">
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary float-right btn-form">Rechercher</button>
                </div>
            </div>
        </form>

        <div class="row">
            <form action="/" method="GET">
                <div class="row">
                    <div class="col-md-6">
                        <select class="form-control" id="categorySelect" name="categoryId">
                            <option value="">Catégories</option>
                            <!-- Boucle pour afficher les libellés des catégories -->
<!--                            <option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.label}"></option>-->
                        </select>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-form">Filtrer</button>
                    </div>
                </div>
            </form>


        </div>

        <div class="row auctions-container">
            <div class="col-md-6" th:each="articles : ${articles}">
                <div class="card mb-3  bg-dark ">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="/images/Enchere.jpg" class="card-img" alt="..." >
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title text-white font-weight-bold" th:text="${articles.itemName}"></h5>
                                <p class="card-text text-white">Prix initial : <span th:text="${articles.initialPrice}"></span></p>
                                <p class="card-text text-white">Date de début de l'enchère : <span th:text="${#dates.format(articles.startAuctionDate, 'dd/MM/yyyy')}"></span></p>
                                <p class="card-text text-white">Date de fin de l'enchère : <span th:text="${#dates.format(articles.endAuctionDate, 'dd/MM/yyyy')}"></span></p>
<!--                                <p class="card-text text-white">Vendu par : <span th:text="${articles.username}"></span></p>-->
<!--                                <p class="card-text text-white">Catégorie : <span th:text="${articles.categoryId}"></span></p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
