<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layouts/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title},
            additionalCss=~{:: link},
            additionalJs=~{:: script}
        )}"
>
    <title>Profil</title>
    <link rel="stylesheet" href="/css/profil.css">
    <main class="main-content">
        <div th:replace="~{fragments/fragment-profil :: fragment-profil('view')}"></div>
    </main>
</html>