<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layouts/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title},
            additionalCss=~{},
            additionalJs=~{}
        )}"
>
<title th:text="#{view-bidDetails.title}"></title>

<main class="main-content">
    <h1 class="text-center" th:text="#{view-bidDetails.detail}"></h1>
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="/pictures/Enchere.jpg" class="card-img" alt="..." >
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title" th:text="${soldItem.itemName}"></h5>
                <p class="card-text">Description : <span th:text="${soldItem.description}"></span></p>
                <p class="card-text">Catégorie : <span th:text="${categorie}"></span></p>
                <p class="card-text">Meilleur offre : <span th:text="${bid.bid_amount}"></span></p>
                <p class="card-text">Mise à prix : <span th:text="${soldItem.initialPrice}"></span></p>
                <p class="card-text">Fin de l'enchère : <span th:text="${#dates.format(soldItem.endAuctionDate, 'dd/MM/yyyy')}"></span></p>
                <div class="row">
                    <div class="col-auto">
                        <p class="card-text mr-3">Retrait :</p>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-column">
                            <div>
                                <span th:text="${withdrawals.street}"></span>
                            </div>
                            <div>
                                <span th:text="${withdrawals.postal_code + ' ' + withdrawals.city}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="card-text">Vendeur : <span th:text="${user.pseudo}"></span></p>
                <form th:action="@{/addBid}" method="post">
                    <label class="card-text">Ma proposition :
                        <input type="number" name="bidAmount"
                               th:min="${bid.bid_amount + 1}"
                               th:max="${memberSession.credit}"
                               th:value="${bid.bid_amount > memberSession.credit ? memberSession.credit : bid.bid_amount + 1}"
                               oninput="validateBid(this)"/>
                    </label>
                    <input type="hidden" id="itemId" name="itemId" th:value="${soldItem.itemId}" />
                    <th:block th:if="${bid.bid_amount > 0}">
                        <input type="hidden" id="userId" name="userId" th:value="${user.idUser}" />
                    </th:block>
                    <input type="hidden" id="lastBidAmount" name="lastBidAmount" th:value="${bid.bid_amount}" />
                    <button type="submit" id="submitBtn" th:disabled="${memberSession.credit &lt; bid.bid_amount} ? 'disabled' : null">Enchérir</button>
                    <span th:if="${memberSession.credit &lt; bid.bid_amount}">Crédit insuffisant</span>
                </form>
            </div>
        </div>
    </div>
</main>

</html>

<script>
    function validateBid(input) {
        var submitBtn = document.getElementById('submitBtn');
        var minValue = parseInt(input.min);
        var maxValue = parseInt(input.max);
        var bidValue = parseInt(input.value);

        if (bidValue < minValue || bidValue > maxValue) {
            submitBtn.disabled = true;
        } else {
            submitBtn.disabled = false;
        }
    }
</script>
